# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode
Cmake*
cmake*
vgcore*
*.html

# GROUNDHOG
groundhog
tests.txt

# PYTHON
__pycache__